body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

#welcome {
    margin-top: 2rem; /* Added margin to provide buffer above the text */
}

#work-samples {
    margin-top: 2rem;
    padding-top: 1rem; /* Added padding to ensure the content is not cut off */
}

#work-samples h2 {
    font-size: 3rem;
    color: #6c757d; /* Changed color to gray */
    margin-bottom: 1rem;
    padding-bottom: 7rem; /* Increased padding to the bottom of the Work Samples text */
}

#work-samples h5 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #6c757d; /* Changed color to gray */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer p.small {
    font-size: 0.75rem;
}

footer .contact-info {
    text-align: left;
}

footer .contact-info a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer .contact-info a:hover {
    color: #007bff;
}
